nav{
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    position: sticky;
    top:0;
}
form{padding-top: 10px;}
input{
    width: 700px;
    height: 50px;
    border:0;
    border-radius: 30px;
    box-shadow: 1px 2px 4px 4px rgba(0, 0, 0, 0.1);
    font-size: 20px;
    padding-left: 20px;
    background-image:url(icon/검색아이콘.png);
    background-position: 650px center;
    background-repeat: no-repeat;
    background-size: 32px;
}

.nav-left img{
    width:130px; 
    height:70px;
padding-left: 50px;}

.nav-right img{
    width:35px;
    height:35px;
padding-right:30px ;
padding-top:20px;}


.container{
    display: grid;
    grid-template-columns:2fr 1fr;

    grid-template-rows: max-content max-content;
    padding-left: 7%;
    padding-right: 8%;
    padding-top:3%
}
@media only screen and (max-width:1200px){
    .container{
        display:grid;
        grid-template-columns: 1fr;
    }

}

.main-video iframe{
    border-radius: 10px;
}

.item:nth-child(1) {
    order: 1;
}

.item:nth-child(2) {
    order: 3;
}

.item:nth-child(3) {
    order: 2;
}

.item:nth-child(4) {
    order: 4;
}

h2{padding-top: 10px;
    padding-bottom:20px ;}
.comment-container{
    display:grid;
    grid-template-columns: 0.5fr 6fr 2fr;
}
.comment-icon0{
    display: flex;
    float: right;}

.comment-icon{
    padding-right: 20px;
}
.comment-icon img{
    width:50px;
    height:50px
}
.comment-icon1{
    padding-right:20px;
}
.comment-icon1 img {
    width: 35px;
    height: 35px
}
.comment-icon1 div{
    color:gray;
    font-size:15px;
    text-align: center;
}
.comment-box{
   
    padding-bottom: 30px;
}
.name{font-weight:900;
font-size:19px;
padding-right: 10px;}
.time{color:gray}

#comment-word{padding-top: 15px;}
#following-comment{padding-top:15px;
color:blue;}

.a1 h4{color:blue;}
.a2 h4{color:gray;}
#info-img{
    display:flex;
    justify-content: space-around;
    padding-bottom: 60px;
    padding-top: 100px;
}

.info-icon img{
    width: 40px;
    height: 40px;
}
.info-icon div{
    color: gray;
    text-align: center;
}

#info-tail{
    display: flex;
    margin-top: 60px;
}
#info-tail img{
    width:60px;
    height:60px;

    border-radius: 100%;
}
#info-tail .info-0{
    margin-left: 20px;
    padding-top:6px;
}
.info-1{
    font-weight: 900;
    font-size: 20px;
}
#info-tail .subscribe{
padding-top:20px;
color:red;
font-weight: 900;
font-size:17px;
margin-left: auto;}


#recommend-container{
    display: flex;
    padding-bottom: 30px;
}
#recommend-container iframe{
    border-radius: 10px;
    margin-right: 13px;
}
#recommend-container .name1{
    font-weight: 900;
    font-size: 18px;
    padding-bottom: 15px;
}
#recommend-container .name2{
    color:gray;
    line-height: 180%;
}
.shorts-head img{
    width: 140px; height: 50px;
}


.shorts-video img{
    width:180px;
    height:300px;
}
.shorts-video{
    display: flex;
    justify-content:space-around;
}