.wrapperRed {
  background-color: #b31f25;
  /* width: 100%;
  height: 100vh; */
  width: 1280px;
  height: 832px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.wrapperIvory {
  background-color: #fff9ef;
  display: flex;
  width: 1220px;
  height: 772px;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* justify-content: center; */
}

.date {
  font-family: "KoPubWorldBatang-Medium";
  font-weight: 500;
  font-size: 24px;
  font-style: normal;
  padding-top: 40px;
}

.leftBracket {
  padding-right: 20px;
}

.rightBracket {
  padding-left: 20px;
}

.lemon1 {
  font-family: "Lemon";
  font-size: 80px;
  color: #b31f25;
  position: relative;
  top: -218px;
}

.lemon2 {
  font-family: "Lemon";
  font-size: 80px;
  color: #d36a6a;
  position: relative;
  top: -110px;
  left: 4px;
}

.lemon3 {
  font-family: "Lemon";
  font-size: 80px;
  color: #eeb7b3;
  position: relative;
  top: -2px;
  left: 8px;
}

.title {
  font-family: "Teachers Students-Regular";
  font-size: 64px;
  color: #b31f25;
  display: flex;
  flex-direction: row;
}

.titleTodo {
  position: relative;
  top: -120px;
  left: 00px;
}

.titleDone {
  position: relative;
  top: -120px;
  left: 85px;
}

.line {
  height: 1px;
  width: 396px;
  background-color: #b31f25;
}

.titleLineTodo {
  position: relative;
  left: -100px;
  top: -60px;
}

.titleLineDone {
  position: relative;
  left: 0px;
  top: -60px;
}

.List {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  position: relative;
}

.ListEnd {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: absolute;
  top: 523px;
  left: 650px;
}

/* .listTodo::marker {
  border: 1px solid var(--, #b31f25);
  content: "□  ";
  font-size: 40px;
  color: #b31f25;
  align-items: center;
  font-family: none;
} */

.square {
  width: 33px;
  height: 33px;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #b31f25;
  position: relative;
  margin-right: 15px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.listTodo {
  position: relative;
  left: -308px;
  top: -130px;
  list-style-type: none;
  /* display: none; */
}

.listFlex {
  display: flex;
  align-items: center;
}

.text {
  font-size: 24px;
  color: #b31f25;
  font-family: pretendard;
  font-weight: 200;
  padding-top: 25px;
}

.lineTodo {
  height: 1px;
  width: 396px;
  background-color: #b31f25;
  margin-top: 10px;
  margin-left: 0px;
  position: absolute;
}

.lineTodo-input {
  height: 1px;
  width: 396px;
  background-color: #b31f25;
  margin-top: 15px;
  margin-left: 0px;
  position: absolute;
}

.lineDone {
  height: 1px;
  width: 396px;
  background-color: #b31f25;
  margin-top: 15px;
  margin-left: -45px;
  position: absolute;
}

.listDone {
  position: relative;
  left: 135px;
  top: -173px;
  margin-top: 7px;
  list-style-type: none;
}

/* .listDone::marker {
  content: "■  ";
  font-size: 40px;
  color: #b31f25;
  list-style-position: outside;
  align-items: center;
  font-family: none;
} */

.listDone::before {
  content: "";
  position: absolute;
  left: -45px;
  top: 22px;
  width: 35px; /* 첫 번째 이미지의 크기 */
  height: 35px; /* 첫 번째 이미지의 크기 */
  background-image: url("redRectangle.svg");
  background-size: cover;
}

.listDone::after {
  content: "";
  position: absolute;
  left: -39px; /* 두 번째 이미지의 위치 조정 */
  top: 28px;
  width: 24px; /* 두 번째 이미지의 크기 */
  height: 24px; /* 두 번째 이미지의 크기 */
  background-image: url("check.svg");
  background-size: cover;
}

.todo-input {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  color: #949494;
  font-size: 24px;
  font-family: pretendard;
  font-weight: 200;
  padding-top: 27px;
  margin-left: 45px;
}

.todo-input:focus {
  outline: none;
  color: #b31f25;
}

.plus-button img {
  transition: transform 0.5s;
  transform: rotate(-45deg);
  position: absolute;
  left: -1px;
  top: -1px;
  width: 33px;
  height: 33px;
}

/* .plus-button:hover img {
  transform: rotate(0deg);
} */

.plus-button {
  width: 33px;
  height: 33px;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #b31f25;
  position: absolute;
  top: 25px;
  margin-right: 10px;
  left: 0px;
}

.listTodo .todo-input,
.listTodo .lineTodo-input {
  visibility: hidden;
}

.del-button {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  position: absolute;
  left: 318px;
}

@font-face {
  font-family: "KoPubWorldBatang-Medium"; /*font 이름*/
  /* 브라우저&디바이스 환경에 따른 font 파일 위치 정의 */
  src: url("KoPubWorldBatang-Medium.otf");
}

@font-face {
  font-family: "Teachers Students-Regular"; /*font 이름*/
  /* 브라우저&디바이스 환경에 따른 font 파일 위치 정의 */
  src: url("Teachers Students-Regular.otf");
}

@import url("https://fonts.googleapis.com/css2?family=Lemon&family=Noto+Sans+KR:wght@100..900&display=swap");
