nav{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: grid;
  grid-template-columns: 2.5fr 8fr 3fr;
  background-color: white;
  padding-top: 6px;
  padding-bottom: 6px;
}

@media only screen and (max-width: 1020px){
  nav{
    display: grid;
    grid-template-columns: 1.6fr 5.5fr;
    .Nav-Right{
      display: none;
    }
    .Nav-Left{
      padding-left:32px;
    }
    .Nav-Center{
      padding-right:60px;
    }
  }
}

.Nav-Left{
  padding-left: 28px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Nav-Center{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.Nav-Right{
  padding-right: 28px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#wrap{
  padding-top: 44px;
}

#Container{
  display: grid;
  grid-template-columns: 2fr 1fr;
}

@media only screen and (max-width: 1020px){
  #Container{
    display: grid;
    grid-template-columns: 1fr;
    #Container-Right{
      grid-column: 1;
    #Top{
      display: none;
    }
    #Shorts{
      display: none;
    }
    #Remix{
      display: none;
    }
    #Recommended_Group{
      margin-bottom: 0;
      margin-left: 24px;
      padding-bottom:0;
    }
    #Recommended_Group2{
      padding-top: 0;
      margin-bottom: 0;
      margin-left: 24px;
      .Line{
        display: none;
      }
    }
    }
  }
}


#Container-Left{
  grid-column: 1;
}

#Container-Right{
  grid-column: 2;
}

main{
  padding: 24px 24px 12px 24px;
}

iframe{
  border-radius: 10px;
  aspect-ratio: 16/9;
}

#Information{
  padding: 0 24px;
}

.Buttons{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: -4px 0 0;
}

.Buttons-Left{
  grid-column: 1;
  display: flex;
  align-items: center;
  margin: 12px 12px 0 0;
}

.Buttons-Right{
  grid-column: 2;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin: 12px 0 0;
}

.Button_Style1{
  padding: 0 16px;
  background-color: #f2f2f2; 
  height: 36px;
  width: fit-content;
  border-radius: 30px;
  display: flex;
  align-items: center;
  margin: 0px;
}

.Textbox{
  background-color: #f2f2f2;
  padding: 15px 12px;
  border-radius: 10px
}

#Comments_Group{
  display: column;
  padding: 0 24px;
}

h3{
  color: #0f0f0f; 
  font-size: 20px; 
  font-weight: bold; 
  margin: 24px 0"
}

p{
  font-size: 14px;
  color: #0f0f0f;
}

.small{
  font-size: 12px;
  color: #606060;
}

.Comments{
  display: flex;
  margin: 0 0 10px 0;
}

.Profile_Image{
  width: 40px; 
  height: 40px;
  margin: 0 16px 0 0;
}

.lauvsongs{
  font-size: 13px; 
  font-weight: bold; 
  color: white;  
  background-color: #888888; border-radius: 30px; 
  padding: 0 8px 3px;
}

.Preference{
  width: 20px; 
  height: 20px;
  margin-right: 8px;
}

#Top{
  display: flex;
  gap: 8px;
  padding: 24px 0 12px;
}

.Button_Style2{
  font-size: 14px
  color: #0f0f0f;
  background-color: #F2F2F2;
  border-radius: 8px;
  padding: 6px 11px;
  margin: 0;
}

.Shorts_Main{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 238px 51px 18px;
  padding: 0 24px 0 0;
}

.Shorts_Video1{
  grid-column: 1;
  grid-row: 1;
  display: flex;
  justify-self: center;
}

.Shorts_Video2{
  grid-column: 2;
  grid-row: 1;
  display: flex;
  justify-self: center;
}

.Shorts_Video3{
  grid-column: 3;
  grid-row: 1;
  display: flex;
  justify-self: center;
}

.Shorts_Title1{
  grid-column: 1;
  grid-row: 2;
  display:flex;
  justify-content: space-between;
  padding: 8px 8px 0 0;
}

.Shorts_Title2{
  grid-column: 2;
  grid-row: 2;
  display:flex;
  justify-content: space-between;
  padding: 8px 8px 0 0;
}

.Shorts_Title3{
  grid-column: 3;
  grid-row: 2;
  display:flex;
  justify-content: space-between;
  padding: 8px 8px 0 0;
}

.Shorts_Click1{
  grid-column: 1;
  grid-row: 3;
  margin:0;
}

.Shorts_Click2{
  grid-column: 2;
  grid-row: 3;
  margin:0;
}

.Shorts_Click3{
  grid-column: 3;
  grid-row: 3;
  margin:0;
}

.Line{
  border-bottom: solid 1px #ced4da; 
  width: 100%; 
}

.test:{
  grid-column: 2;
  grid-row: 2;
}

#Recommended_Group{
  padding: 24px 24px 0 0;
}

#Recommended_Group2{
  padding: 24px 24px 0 0;
}

.Recommended{
  display: flex;
  padding: 15px 10px 0 0;
}

.Re_Ma{
  margin: 0 0 4px 8px;
}

.Recommended_Image{
  width: 168px;
  height: 94px;
}

.Recommended_Image2{
  width: 168px;
  height: 96px;
}

footer{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 38px 24px;
  border-top: solid 1px #ced4da; 
}

